{% load static django_htmx %}
<!doctype html>
<html lang="pt-br">
  <!--begin::Head-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Presente+ | {% block title %}{% endblock %}</title>

    <!--begin::Favicons-->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}" />
    <!--end::Favicons-->

    <!--begin::Meta Tags-->
    <meta name="description" content="Registre sua presença em atividades do IFRN!" />
    <meta name="keywords" content="presença, IFRN, SPP, registro, atividades, QR Code" />
    <meta name="author" content="IFRN/SPP" />
    <meta name="theme-color" content="#667eea" />

    <!--begin::Open Graph-->
    <meta property="og:title" content="Presente+" />
    <meta property="og:description" content="Registre sua presença em atividades do IFRN!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'img/presente-icon.png' %}" />

    <!--begin::Twitter Card-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Presente+" />
    <meta name="twitter:description" content="Registre sua presença em atividades do IFRN!" />
    <meta name="twitter:image" content="{% static 'img/presente-icon.png' %}" />
    <!--end::Meta Tags-->
    <!--begin::Fonts-->
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <!--end::Fonts-->
    <!--begin::Third Party Plugin(OverlayScrollbars)-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.10.1/styles/overlayscrollbars.min.css"
      integrity="sha256-tZHrRjVqNSRyWg2wbppGnT833E/Ys0DHWGwT04GiqQg="
      crossorigin="anonymous"
    />
    <!--end::Third Party Plugin(OverlayScrollbars)-->
    <!--begin::Third Party Plugin(Bootstrap Icons)-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
      integrity="sha256-9kPW/n5nn53j4WMRYAxe9c1rCY96Oogo/MKSVdKzPmI="
      crossorigin="anonymous"
    />
    <!--end::Third Party Plugin(Bootstrap Icons)-->
    <!--begin::Required Plugin(AdminLTE)-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/admin-lte@4.0.0-beta3/dist/css/adminlte.min.css"
      crossorigin="anonymous"
    />
    <!--end::Required Plugin(AdminLTE)-->
    <!--begin::Tom Select-->
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.bootstrap5.min.css" rel="stylesheet">
    <!--end::Tom Select-->
    <!--begin::Custom Styles-->
    <link rel="stylesheet" href="{% static 'css/tables.css' %}" />
    <link rel="stylesheet" href="{% static 'css/presente.css' %}" />
    <!--end::Custom Styles-->

    {% htmx_script %}

    {% block extra_head %} {% endblock %}
  </head>
  <!--end::Head-->
  <!--begin::Body-->
  <body class="{% block body_class %}layout-fixed sidebar-expand-lg bg-body-tertiary{% endblock %}">
    <!--begin::App Wrapper-->
    {% block app_wrapper %}
      
    {% endblock %}
    <!--end::App Wrapper-->
    <!--begin::Script-->
    <!--begin::Required Plugin(popperjs for Bootstrap 5)-->
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <!--end::Required Plugin(Bootstrap 5)-->
    {% block extra_body %}
    {% endblock %}
    <!--end::Script-->
  </body>
  <!--end::Body-->
</html>
