{% extends 'presente/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}
  {% block head_title %}
  {% endblock %}
{% endblock %}

{% block body_class %}login-page bg-body-secondary app-loaded{% endblock %}

{% block app_wrapper %}
<div class="login-box">
  {% if 'checkin' in request.GET.next %}
  <div class="card card-warning shadow-lg mb-2">
    <div class="card-header py-2">
    <div class="fw-bold card-title" style="font-size: 1.6rem;">
      <i class="bi bi-exclamation-triangle-fill me-3" style="font-size: 1.8rem;"></i>
      ATENÇÃO!
    </div>
    </div>
    <div class="card-body">
      <p>
        Esta tela <strong>NÃO</strong> confirma frequência.<br>
        Você deve fazer login para concluir o registro.
      </p>
    </div>
    <div class="position-absolute bottom-0 start-0 end-0" 
         style="height: 6px; background: repeating-linear-gradient(45deg, #000, #000 10px, #eed202 10px, #ffc107 20px);">
    </div>
  </div>
  {% else %}
  <div class="login-logo">
    <a href="{% url 'presente:index' %}" class="d-flex align-items-center justify-content-center text-decoration-none">
      <img src="{% static 'img/presente-logo.png' %}" style="max-width: 260px; width: 100%;" alt="Presente+">
    </a>
  </div>
  {% endif %}
  <div class="card">
    <div class="card-body login-card-body">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
      {% block content %}
      {% endblock %}
    </div>
    {% block extra_body %}
    {% endblock %}
  </div>
</div>
{% endblock %}
