{% extends "core/list.html" %}
{% load crispy_forms_tags %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block crumb %}
{{ block.super }}
<li class="breadcrumb-item">
  <a href="{{ request.get_full_path }}">{{page_title}}</a>
</li>
{% endblock %}

{% block app_content %}
<div class="container-fluid">
  <div class="row g-4">
    <div class="col-12">
      <div class="card card-warning card-outline mb-4">
        <div class="card-header">
          <div class="card-title">
            <i class="bi bi-pencil"></i> Editar Registro
          </div>
        </div>
        <form method="post" enctype="multipart/form-data" id="activity-form">
          <div class="card-body">
            {% csrf_token %}
            {{ formset.management_form }}
            {% if form.helper %}
              {% crispy form %}
            {% else %}
              {{ form|crispy }}
            {% endif %}
            {% if formset %}
            <hr class="my-4">
            <h6 class="text-muted text-uppercase mb-3">
              <i class="bi bi-collection"></i> Itens Relacionados
            </h6>
            {% for form_inline in formset  %}
              {{form_inline|crispy}}
              {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
            {% endif %}
          </div>
          <div class="card-footer">
            <a href="{% url allowed_actions.list %}" class="btn btn-secondary">
              <i class="bi bi-arrow-left"></i> Voltar
            </a>
            <button type="submit" class="btn btn-primary float-end">
              <i class="bi bi-save"></i> Salvar Alterações
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
